Repository dataforgoodfr/13_odis, pull requests merged in 2025-04, with the labels that each got.

#82 Notebook extractor
  README.md
  common/data_source_model.py
  common/tests/notebooks/test_notebook_cells.ipynb
  common/tests/test_config.py
  common/tests/test_data_source_model.py
  common/tests/test_source_extractors.py
  common/utils/interfaces/extractor.py
  common/utils/source_extractors.py
  datasources.yaml
  docs/configurations.md
  docs/extract.md
  notebook/logements_sociaux_2024.ipynb
  poetry.lock
  pyproject.toml
Labels: enhancement, frameworks

#97 Emploi - ajout sources mobilités, salaire median, etablissements employeurs
  common/data_source_model.py
  common/tests/test_data_source_model.py
  datasources.yaml
Labels: help wanted

#101 fix: take into account csv separator from config
  common/data_source_model.py
  common/tests/data/test_coma_sep.csv
  common/tests/data/test_semicol_sep.csv
  common/tests/test_data_source_model.py
  common/tests/test_file_handler.py
  common/utils/data_loaders.py
  common/utils/file_handler.py
  notebook/BMO.ipynb
Labels: bug

#70 extracted data logements sociaux
  data/Kim_notebook_extract_indicateurs_rpls_2024.ipynb
Labels: data exploration

#109 Indicateurs population
  common/collections/INSEE population/bruno.json
  common/collections/INSEE population/categorie socio pro.bru
  common/collections/INSEE population/densite.bru
  common/collections/INSEE population/nombre menages.bru
  common/collections/INSEE population/repartion par sexe et tranche d'age.bru
  common/collections/INSEE population/repartion par sexe.bru
  datasources.yaml
Labels: data exploration

#103 Feature/rpls s3 to bronze
  .devcontainer/devcontainer.json
  .devcontainer/scripts/postCreate.sh
  .devcontainer/scripts/postStart.sh
  .env.dist
  .gitignore
  data/.DS_Store
  data/imports/.gitkeep
  dbt_odis/macros/flatten_json.sql
  dbt_odis/models/bronze/_odis_bronze__models.yml
  dbt_odis/models/bronze/_odis_bronze__sources.yml
  dbt_odis/models/bronze/logement_rpls_commune.sql
  dbt_odis/models/bronze/logement_rpls_departement.sql
  dbt_odis/models/bronze/logement_rpls_region.sql
  docker-compose.yaml
  notebooks/rpls_Load_bronze.ipynb
  pgadmin/servers.dist.json
  poetry.lock
  pyproject.toml
Labels: Bronze

#114 Dbt transfo silver - domaines logement et emploi
  datasources.yaml
  dbt_odis/dbt_project.yml
  dbt_odis/macros/cast_to_integer.sql
  dbt_odis/macros/check_duplicates.sql
  dbt_odis/macros/check_missing_relationship.sql
  dbt_odis/macros/generate_description.sql
  dbt_odis/macros/replace_null.sql
  dbt_odis/macros/standardize_column_name.sql
  dbt_odis/macros/test_positive_values.sql
  dbt_odis/models/bronze/_odis_bronze__models.yml
  dbt_odis/models/bronze/_odis_bronze__sources.yml
  dbt_odis/models/bronze/education_moyenne_eleve_commune.sql
  dbt_odis/models/bronze/education_moyenne_eleve_departement.sql
  dbt_odis/models/bronze/education_moyenne_eleve_region.sql
  dbt_odis/models/bronze/emploi_demandeur_emploi_communes.sql
  dbt_odis/models/bronze/emploi_demandeur_emploi_departements.sql
  dbt_odis/models/bronze/emploi_demandeur_emploi_regions.sql
  dbt_odis/models/bronze/geographical_references_departements.sql
  dbt_odis/models/bronze/geographical_references_regions.sql
  dbt_odis/models/bronze/logements_appartement.sql
  dbt_odis/models/bronze/logements_appartement_et_residences_principales.sql
  dbt_odis/models/bronze/logements_logement_annuel_dept_data.sql
  dbt_odis/models/bronze/logements_maison.sql
  dbt_odis/models/bronze/logements_maison_et_residences_principales.sql
  dbt_odis/models/bronze/logements_pieces.sql
  dbt_odis/models/bronze/logements_total.sql
  dbt_odis/models/bronze/presentation_page_elus_communes.sql
  dbt_odis/models/bronze/presentation_page_epci.sql
  dbt_odis/models/bronze/presentation_page_population_communes.sql
  dbt_odis/models/bronze/services_services.sql
  dbt_odis/models/gold/_odis_gold__models.yml
  dbt_odis/models/gold/_odis_gold__sources.yml
  dbt_odis/models/gold/com_dep_reg.sql
  dbt_odis/models/gold/gps_dep_reg.sql
  dbt_odis/models/gold/typologie_territoires.sql
  dbt_odis/models/silver/111typologie_territoires.sql
  dbt_odis/models/silver/_odis_silver__models.yml
  dbt_odis/models/silver/_odis_silver__sources.yml
  dbt_odis/models/silver/emploi_demandeur_emploi.sql
  dbt_odis/models/silver/geographical_references.sql
  dbt_odis/models/silver/gps_dep_reg.sql
  dbt_odis/models/silver/logements_types_territoires.sql
  lgt_soc_2024_extracted.csv
Labels: frameworks, Bronze, Silver

#127 Découpage du file handler en plus petites classes
  common/tests/test_file_handler.py
  common/utils/file_handler.py
Labels: enhancement, frameworks
